# common ignores (sharing gitignore and dockerignore) - pycache, envfile, etc..
**/__pycache__/
**/*.py[cod]
*$py.class
.env
.env.*

# vscode
.vscode

# virtual environment
.venv

# macOS 
.DS_Store

# WSL
*Zone.identifier

# teledrop default share directory
share/

# temp
wip/