# common ignores (sharing gitignore and dockerignore) - pycache, envfile, etc..
**/__pycache__/
**/*.py[cod]
*$py.class
.env
.env.*

# vscode
.vscode

# virtual environment
.venv

# node modules
node_modules/
ui-build/node_modules/

# generated UI assets
app/interfaces/web/static/gen/*
!app/interfaces/web/static/gen/.gitkeep
app/interfaces/web/static/vendor/pretendard/

# macOS 
.DS_Store

# WSL
*Zone.identifier

# teledrop default share directory
share/
