{% extends "layout/base.html" %}
{% set page_title = "teledrop" %}
{% set page_description = "간편한 파일 공유 서비스 teledrop. 파일을 업로드하고 관리하세요." %}
{% set og_title = "teledrop" %}
{% set og_description = "개인 파일을 업로드하고 안전하게 관리하는 self-hosted workspace" %}
{% set og_type = "website" %}
{% set main_classes = "mx-auto flex min-h-screen min-w-0 max-w-[50rem] flex-col px-4 pb-5 pt-3" %}
{% set page_content_classes = "flex min-w-0 flex-1 pb-4 pt-3" %}

{% block page_scripts %}
<script src="/static/js/upload-panel.js" defer></script>
{% endblock %}

{% block page_content %}
<section class="flex w-full flex-1">
  <div id="main-panel" data-td-swap-root class="mx-auto flex min-w-0 w-full max-w-[50rem] flex-1">
    {% if is_login %}
    {% include "panels/upload.html" %}
    {% else %}
    {% include "panels/auth.html" %}
    {% endif %}
  </div>
</section>
{% endblock %}
